.About
{
    background-color: #0a0a0a;
    height: calc(100%);
    z-index: 0;
    padding-top: 20vh;
}

.aboutContainer
{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Box
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    color: aliceblue;
    border: 2px ridge rgb(126, 126, 9);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
    z-index: 0;
}

.Box:hover
{
    box-shadow: 0 0 15px rgb(240, 158, 36);
    transform: scale(1.02);
    transition: 0.3s all ease;
}

.Box .Row
{
    text-align: center;
}

.Box .paragraph
{
    font-size: 18px;
}

.Box .paragraph span
{
    text-shadow: 0 1px red;
    font-family: 'Rye', cursive;
    font-size: 30px;
    color: yellow;

}
/*
@media screen and (max-width: 990px)
{
    .About
    {
        height: 190vh;
    }
}
@media screen and (max-width: 750px)
{
    .About
    {
        height: 240vh;
    }
}
@media screen and (max-width: 460px)
{
    .About
    {
        height: 290vh;
    }
}
@media screen and (max-width: 390px)
{
    .About
    {
        height: 350vh;
    }
}

@media screen and (max-width: 320px)
{
    .About
    {
        height: 450vh;
    }
}
*/