
  


  /*image: 'https://www.linkpicture.com/q/Director.png',
  image: 'https://www.linkpicture.com/q/stgandhe.jpg',
  image: 'https://www.linkpicture.com/q/Ravi_Murumkar2_1.jpg',
  image: 'https://www.linkpicture.com/q/WhatsApp-Image-2022-12-27-at-17.14.18-removebg-preview.jpg',*/